<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909423563751-jp4ohk795ekj9saovbbj6u8342mdnn8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909423563751-jp4ohk795ekj9saovbbj6u8342mdnn8j</string>
	<key>API_KEY</key>
	<string>AIzaSyDh2J23xWBoER9zZZgvIhLQt9emxV6LBUI</string>
	<key>GCM_SENDER_ID</key>
	<string>909423563751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxies.firebase</string>
	<key>PROJECT_ID</key>
	<string>tubonge-5583f</string>
	<key>STORAGE_BUCKET</key>
	<string>tubonge-5583f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909423563751:ios:83b69a03e7f7d07755e342</string>
</dict>
</plist>